.Songs {
  width: 500px;
  padding: 10px;
  margin-top: 20px;
  background-color: #c0c0c0;
  color: #333;
  border-radius: 5px;
}

.Songs ul {
  text-align: left;
  padding: 0;
  list-style-type: none;
  max-height: 100%;
}
